{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link type="text/css" href="{% static 'main_page/css/styles.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'main_page/images/main.ico' %}" type="image/x-icon"/>
</head>
<body>
    <div id = "header"></div>
    <div class = "real_middle_text">Вход</div>
    <div class = "register_form">
        <form method="post" novalidate>
        {% csrf_token %}
	    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
	    <input type="submit" value="Вход" />
        </form>
    </div>
</body>
</html>