{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>


</head>
{% block stuff %}
<div id = "header">
        <div class = "header_block" id = "activated_header">Главная</div>
        {% if request.user.is_authenticated%}
        <a class = "header_block" href="{% url 'personal_area' %}">Личный кабинет</a>
        <a class = "auth_block" href="{% url 'logout' %}">Выйти</a>
        <div class = "auth_block"> {{user.username}}</div>
        {% else %}
        <div class = "header_block" id = "inactive_header">Личный кабинет</div>
        <a class = "auth_block" href="{% url 'login' %}">Войти</a>
        <a class = "auth_block" href="{% url 'register' %}">Регистрация</a>
        {% endif %}
</div>
<div class = "middle_text">Здравствуйте</div>
<div class = "middle_text_2">После входа в аккаунт воспользуйтесь телеграмм ботом для оповещения об ошибках</div>
<img class = "tglink" src="/../../static/main_page/images/tg_qr.jpg">
{% endblock %}